<div class="container" style="margin:50px auto">
    <div class="row">
        <div class="col">
            <p class="text-right">Hola, proximamente la página de novededes</p>
        </div>
    </div>
</div>
