<div id="home login" class="row align-items-center hero scroll_section">
    <div class="container-fluid" style="margin-top: 100px;">
        <div class="row">
            <div class="col">
                <p class="text-center">
                    <span>Hola {{usuario}}!</span>
                    <a href="/admin/login/logout" class="btn btn-warning"> Cerrar sesión <i
                            class="fas fa-sign-out-alt"></i></a>
                </p>
            </div>
        </div>
    </div>
</div>